.slot {
    width: 65px !important;
    height: 70px !important; /* Hauteur fixe pour couper le bas de l'image */
    background-color: #1a1f26;
    border-radius: 4px;
    position: relative;
    overflow: hidden !important; /* TRÈS IMPORTANT : Coupe tout le surplus */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Garde la tête en haut */
}

.slot img {
    width: 100% !important;
    height: auto !important; /* Garde les proportions réelles */
    display: block;
    /* On ne touche pas au ratio pour ne pas déformer */
}
