* { box-sizing: border-box; margin: 0; padding: 0; }
body {
    background-color: #0b0e14;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* LE BANDEAU SUPÉRIEUR */
.preban-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 850px; /* Aligné sur la largeur des équipes */
    margin: 10px auto 40px auto;
}

.header-center { text-align: center; }
.highlight { color: #00f2ff; }

/* LA GRILLE */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: 900px;
    margin-bottom: 30px;
}

.hero-card, .slot {
    width: 75px; 
    min-height: 100px;
    background-color: #1a1f26;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.hero-card img, .slot img { width: 100%; height: auto; display: block; }

/* LES ÉQUIPES */
.teams-area { display: flex; justify-content: center; gap: 50px; width: 100%; }
.team-container { display: flex; flex-direction: column; align-items: center; }
.team-row { display: flex; gap: 8px; margin-top: 10px; }
.label-red { color: #ff007a; margin-bottom: 5px; }
.label-blue { color: #00f2ff; margin-bottom: 5px; }

/* ÉTATS ET ANIMATIONS */
.active-preban { border: 2px solid #ff004c !important; }
.slot.gold { border: 2px solid #ffd700; }
.slot.banned img { filter: grayscale(100%) brightness(30%); }

@keyframes pulse-red { 50% { box-shadow: 0 0 15px #ff007a; border-color: #ff007a; } }
@keyframes pulse-blue { 50% { box-shadow: 0 0 15px #00f2ff; border-color: #00f2ff; } }
.glow-red { animation: pulse-red 1.5s infinite !important; }
.glow-blue { animation: pulse-blue 1.5s infinite !important; }

/* BOUTON RESET */
#reset-btn {
    display: block;
    margin: 50px auto;
    padding: 12px 25px;
    background: transparent;
    border: 2px solid #00f2ff;
    color: #00f2ff;
    cursor: pointer;
    font-weight: bold;
}
